.page {
  width: 64em;
  height: auto;
}

/* ===== Tablet(ALL) ===== */
/* ===== Table(portrait) | ===== */
@media screen and (max-width: 1024) and (orientation: portrait) {
  .page {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}
/* ===== Mobile(ALL)===== */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .page {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}
