

@mixin WH($widthPg, $heightPg) {  // 寬高
	width: $widthPg;
	height: $heightPg;
}


@mixin clearfix() { // 清除浮動
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin opacity($opacity) {  // 透明度
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin center-block {  // 版面至中
  display: block;
  margin-left: auto;
  margin-right: auto;
}
