// /*------------------------------------*\
//     $p
// \*------------------------------------*/

/* p */
.text--basic {
	line-height: 1.5em;
	font-size: 90%;
}


// /*------------------------------------*\
//     $a
// \*------------------------------------*/

/* a */
.btn--basic {
	display: block;
	text-indent: -9999em;
}
.other-device-btn--basic {
	display: none;
	text-indent: -9999em;
}


// /*------------------------------------*\
//     $H1~H6
// \*------------------------------------*/

/* h1~h6 basic */
.content-title--basic {
	padding-left: 1.5em;
	margin-bottom: 0.5em;
	line-height: 3em;
	color: #ffe6bf;
}


// /*------------------------------------*\
//     $span
// \*------------------------------------*/

/* span */


// /*------------------------------------*\
//     $input
// \*------------------------------------*/

/* input */


// /*------------------------------------*\
//     $input
// \*------------------------------------*/



// /*------------------------------------*\
//     $cloor style
// \*------------------------------------*/
