// /*------------------------------------*\
//     $p
// \*------------------------------------*/

// /* p */
%text--basic {
  font-size: 90%;
  line-height: 1.5em;
}


// /*------------------------------------*\
//     $a
// \*------------------------------------*/

// /* a */
%btn--basic {
  display: block;
  text-indent: -9999em;
}

%other-device-btn--basic {
  display: none;
  text-indent: -9999em;
}


// /*------------------------------------*\
//     $H1~H6
// \*------------------------------------*/

// /* h1~h6 basic */
%content-title--basic {
  color: #ffe6bf;
  line-height: 3em;
  margin-bottom: .5em;
  padding-left: 1.5em;
}


// /*------------------------------------*\
//     $span
// \*------------------------------------*/

// /* span */


// /*------------------------------------*\
//     $input
// \*------------------------------------*/

// /* input */


// /*------------------------------------*\
//     $input
// \*------------------------------------*/



// /*------------------------------------*\
//     $cloor style
// \*------------------------------------*/
