/*------------------------------------*\
    $MAIN CSS
\*------------------------------------*/
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2013-11-19 14:09:42
 * @version $Id$
 *
 * p a img span h1~h2...................行內元素
 * VARIABLE..................................變數
 * TABLE STYLE............................表格樣式
 * UL STYLE....................................列表樣式
 * STRUCTURE..............................框架
 * TABLET.......................................平版(ALL)
 * MOBILE.......................................手機(ALL)
 * IE..................................................針對IE用的樣式
 */

@import "mixinAll";
@import "text";
@import "compass/css3/";
@import "media-queries";

// /*------------------------------------*\
//     $VARIABLE
// \*------------------------------------*/

$basicWIdth_Desktop: 64em;
$basicWIdth_Tablet: 100%;
$basicWIdth_Mobile: 100%;

/*------------------------------------*\
    $STRUCTURE
\*------------------------------------*/

.page {
	@include WH($basicWIdth_Desktop, auto);
}

/* ===== other device structure display:none ===== */

/*------------------------------------*\
    $TABLE STYLE
\*------------------------------------*/
@import "table";
/*------------------------------------*\
    $UL STYLE
\*------------------------------------*/
@import "ul";

/*------------------------------------*\
    $icon Sprite
\*------------------------------------*/

// Png SPRITE 開始
// @import "icon/*.png";
// @include all-icon-sprites(true);
//  Png SPRITE 結束

/*------------------------------------*\
    $TABLET DEVICE
\*------------------------------------*/

@import "tablet-RWD";

/*------------------------------------*\
    $MOBILE DEVICE
\*------------------------------------*/

@import "mobile-RWD";

/*------------------------------------*\
    $FUCK ALL IE
\*------------------------------------*/

@import "ie";