// /*------------------------------------*\
//     $MAIN CSS
// \*------------------------------------*/
//// /**
// * 
// * @authors Your Name (you@example.org)
// * @date    2013-11-19 14:09:42
// * @version $Id$
// *
// * p a img span h1~h2...................inline
// * VARIABLE..................................Variable
// * TABLE STYLE............................Table Style
// * UL STYLE....................................UL Style
// * STRUCTURE..............................Structure
// * TABLET.......................................Tablet(ALL)
// * MOBILE.......................................Mobile(ALL)
// * IE..................................................For IE
// */

@import 'mixinAll';
@import 'text';
@import 'compass/css3/';
@import 'media-queries';

// /*------------------------------------*\
//     $VARIABLE
// \*------------------------------------*/

$basic-width-desktop: 64em;
$basic-width-tablet: 100%;
$basic-width-mobile: 100%;

// /*------------------------------------*\
//     $STRUCTURE
// \*------------------------------------*/

.page {
  @include wh($basic-width-desktop, auto);
}

// /* ===== other device structure display:none ===== */

// /*------------------------------------*\
//     $TABLE STYLE
// \*------------------------------------*/
@import 'table';
// /*------------------------------------*\
//     $UL STYLE
// \*------------------------------------*/
@import 'ul';

// /*------------------------------------*\
//     $icon Sprite
// \*------------------------------------*/

// Png SPRITE Start
// @import "icon/*.png";
// @include all-icon-sprites(true);
//  Png SPRITE End

// /*------------------------------------*\
//     $TABLET DEVICE
// \*------------------------------------*/

@import 'tablet-RWD';

// /*------------------------------------*\
//     $MOBILE DEVICE
// \*------------------------------------*/

@import 'mobile-RWD';

// /*------------------------------------*\
//     $FUCK ALL IE
// \*------------------------------------*/

@import 'ie';