<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>example</title>
<%= stylesheet_link_tag "html5_reset" %>
<%= stylesheet_link_tag "main" %>
<%= javascript_include_tag "jquery-1.9.1.min" %>
<%= javascript_include_tag "modernizr.custom.86014" %>
<script>
	/*<![CDATA[ */
	$(document).ready(function() {
		
	});
	/* ]]> */
</script>